/* ---------- Google Fonts ---------- 
  1. Source Sans Pro
  2. Open Sans
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro&display=swap');
/* ---------- General ---------- */
html {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
p, footer {
  font-family: 'Georgia', sans-serif;
  font-size: 1.5vw;
  text-align: justify;
}
a {
  color: inherit !important;
}
/* ---------- Navbar & Jumbotron ---------- */
.hero-image {
  background-image: url('/src/assets/img/portrait-01.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.hero-text {
  position: absolute;
  /* text-align: center; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 8.5vw;
  font-weight: bold;
  width: 100%;
  text-decoration: none;
}
.hero-text-l > span {
  animation-name: slideUp;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
  display: block;
  text-align: left;
}
.menu-1 > span {
  animation-delay: 0s;
}
.menu-2 > span {
  animation-delay: 150ms;
}
.menu-3 > span {
  animation-delay: 300ms;
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  100% {
    opacity: 1;
  }
}
.hero-text span:hover {
  color: yellow !important;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  text-indent: 0.5em;
  letter-spacing: 0.2vw;
  text-transform: uppercase;
}
.menu-1, .menu-2, .menu-3 {
  padding-left: 13vw;
}
.menu-1 {
  top: 8%;
  width: 45%;
}
.menu-2 {
  top: 37%;
  width: 39%;
}
.menu-3 {
  top: 66%;
  width: 43%;
}
.menu-3 span {
  color: #00FFFF;
}
.lang-cn-l {
  font-size: 7vw;
  padding-top: 4.2vh;
}
.menu-en {
  top: 34%;
}
.menu-de {
  top: 44%;
}
.menu-fr {
  top: 54%;
}
.menu-sc {
  top: 64%;
}
.menu-tc {
  top: 74%;
}
.lang {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5vw;
  font-weight: lighter;
  text-align: right;
  left: 60%;
  width: 32%;
}
.lang-cn-s {
  font-size: 2.5vw;
  /* text-indent: -5em;
  letter-spacing: 0.6vw; */
  text-indent: 2em;
  letter-spacing: 0.1vw;
}
/* ---------- About me ---------- */
#about-me {
  background-image: url('/src/assets/img/portrait-01.jpg');
  height: 100vh;
  width: 100%;
  background-blend-mode: multiply;
  background-color: rgba(0,0,0,0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.about-me {
  padding: 17vh 12vw;
}
.about-me p {
  margin-bottom: 4vh;
}
/* ---------- Contact ---------- */
#contact {
  padding: 2vh 0 1.5vh 12vw;
  background-color: rgb(17,17,17);
}
.icons {
  font-size: 4vw !important;
  margin: 0 0.8vw 0.5vh 0;
}
footer {
  font-size: 1.5vw;
  text-align: left;
}
.back-to-top-a {
  text-decoration: none;
  margin-left: 32vw;
}
.back-to-top {
  font-size: 1.5vw !important;
}
